* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  // font-size: 10px;
  font-size: vw(10);
  font-family: $base-font;
  @include phablet {
    font-size: 10px;
  }
}
h1 {
  font-size: 5rem;
}
