//base colors
$background: #0f1217;
$color_white: #ffffff;
$color_primary: #c11d2a;

//wrappers
$wrapper-width: 100%;
$wrapper-padding: 5rem;

//responsive base
$vw_base: 1440;

//fonts
$lead-font: "Archivo Black", sans-serif;
$base-font: "Roboto", sans-serif;

//z-index
$over-all: 9999;
$base: 0;
$below-base: -10;

//bp
$screen-mobile-sm: 320px;
$screen-mobile: 376px;
$screen-mobile-lg: 480px;
$screen-phablet: 576px;
$screen-portrait: 769px;
$screen-portrait-lg: 992px;
$screen-tablet: 1024px;
$screen-laptop-sm: 1200px;
