.component-title {
  height: 6rem;
  position: relative;
  @include portrait {
    height: auto;
    margin-bottom: 3rem;
  }
  &__inner {
    opacity: 0;
  }
  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left;
  }
}
