.container {
  @include wrapper;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #000;
  &__tiles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
  }
}
