.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  text-align: center;
  padding: 1.5rem;
  font-size: 3rem;
  @include portrait {
    flex: 50%;
    &:nth-of-type(n + 3) {
      margin-top: 5rem;
    }
  }
  @include phablet {
    flex: 100%;
    &:nth-of-type(n + 2) {
      margin-top: 5rem;
    }
  }
  &__icon {
    margin-bottom: 2rem;
  }
  &__data {
    display: flex;
    justify-content: center;
    margin: auto 0 2rem;
  }
  &__copy {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.8rem;
  }
}
